<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>计算属性简写</title>
    <script type="application/javascript" src="../js/vue.js"></script>
</head>
<body>
<div id="root">
    姓：<input type="text" v-model="firstName"/>
    <hr>
    名：<input type="text" v-model="lastName">
    <hr>
    <hr>
    姓名(计算属性)：{{fullName}}
    <hr>
    姓名(计算属性)：<input type="password" v-model="fullName">
    <!--
        计算属性有缓存
        method每次读取都会调用

    -->
</div>
<script type="application/javascript">
    const vm = new Vue({
        data: {
            firstName: "张",
            lastName: "三",
        },
        computed: {
            fullName() {
                return this.firstName + '-' + this.lastName
            }
        }
    })
    vm.$mount('#root')
</script>
</body>
</html>