<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VUE-List</title>
    <script type="application/javascript" src="../../js/vue.js"></script>
</head>
<body>
<div id="root">
    <!-- VUE更新的内存中的数据  监视的对象是用地址监控的 -->
    <button @click="">添加关系</button>
    <h2>学生信息</h2>
    <p>姓名：{{student.name}}</p>
    <p>年龄：{{student.age}}</p>
    <p>关系</p>
    <ul>
        <li>name-age</li>
        <li v-for="f in student.friends">{{f.name}}-{{f.age}}</li>
    </ul>
    <p>爱好</p>
    <ul>
        <li v-for="h in student.hobby">{{h}}</li>
    </ul>
</div>
<script type="application/javascript">
    const vm = new Vue({
        data: {
            student: {
                name: "STU",
                age: "21",
                hobby: ["音乐", "美术", "舞蹈"],
                friends: [
                    {name: "圣诞袜", age: 18},
                    {name: "周星驰", age: 19},
                    {name: "大蛇丸", age: 12},
                    {name: "阿斯顿", age: 22},
                ]
            },
        },
        methods: {
            add() {
                // 可行
                // this.student.friends[0].age=25
                // 不可因为对象非响应式
                // this.student.friends[0]={name: "圣诞袜", age: 25}
                // 调用push等数组方法 因为vue 重写了其中管理的数组的 相关方法
                this.student.friends.splice(0, 1, {name: "圣诞袜", age: 25})
                // 直接使用set 也可
                // Vue.set(this.student.friends,0,{name: "圣诞袜", age: 25})
            }
        }
    })

    vm.$mount('#root')
</script>
</body>
</html>