<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>计算属性简写</title>
    <script type="application/javascript" src="../js/vue.js"></script>
</head>
<body>
<div id="root">
    姓：<input type="text" v-model="firstName"/>
    <hr>
    名：<input type="text" v-model="lastName">
    <hr>
    <hr>
    姓名(计算属性)：{{fullName}}
    <hr>
    姓名(计算属性)：<input type="password" v-model="fullName">
</div>
<script type="application/javascript">
    const vm = new Vue({
        data: {
            firstName: "张",
            lastName: "三",
            fullName: "张-三"
        },
        watch: {
            firstName(n, o) {
                this.fullName = n + '-' + this.lastName
            },
            lastName(n, o) {
                /* 定时器 */
                /* VUE管理的函数（首层)不能使用箭头（匿名）函数，非VUE管理的函数要使用箭头函数
                *
                *  箭头函数若有外层这 this(调用者）为外层的 this 否则为windows
                *  非箭头函数若有调用者则 this为调用者 否则为windows
                *
                *  ---> VUE首层的函数调用者为 Vue
                *  ---> VUE内层的函数有调用者为调用则 否则为windows
                *  ---> 因此VUE内层无调用者的函数（例如setTimeout等系统调用函数)使用箭头才能是VUE
                *   */
                setTimeout(() => {
                    console.log("1s")
                    this.fullName = this.firstName + '-' + n
                }, 1000)
            }
        }
    })
    vm.$mount('#root')
</script>
</body>
</html>