<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据绑定</title>
    <script type="application/javascript" src="../../js/vue.js"></script>
</head>
<body>
<div id="root">
    <!--  v-bind 单向绑定  数据源----》 DOM  -->
    单向数据绑定：<input type="text" :value="name">
    <hr>
    <!-- v-model 双向绑定  数据源头《---》DOM   其只能应用在 表单/交互类元素上 -->
    双向数据绑定：<input type="text" v-model="name">
    <!-- v-model 基本都是绑定 value 所以可以 省略 :value -->
    <hr>
    双向数据简写: <input type="password" v-model="name">
</div>

<script type="application/javascript">
    new Vue({
        el: "#root",
        data: {
            name: "Hello"
        }
    })
</script>
</body>
</html>